*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: "Roboto", sans-serif;
}

.card {
  box-shadow: 5px 5px 4px gray;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: none;
}
